html {
    --mailhead-height: 400px;
}

html {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    font-family: menlo, Times;
    font-size: 13px;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

#mailhead {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--mailhead-height);

    border-bottom: solid 1px gray;
    overflow: auto;
}

#mailbody {
    position: fixed;
    top: calc(var(--mailhead-height) + 1px);
    left: 0;

    padding: 10px;

    width: calc(100% - 2*10px);
    height: calc(100% - var(--mailhead-height) - 1px - 2*10px);

    overflow: auto;
}

.msgtree-item:first-child {
    margin-top: 10px;
}

.msgtree-item:last-child {
    margin-bottom: 10px;
}

.msgtree-item {
    cursor: default;

    padding: 1px 10px;

    width: 100%;

    word-break: break-all;
    white-space: nowrap;

    border-bottom: solid 1px #e0e0e0;
}

.msgtree-item:hover {
    background-color: #f7f7f7;
}

.msgtree-item--left {
    white-space: pre-wrap;
    font-family: "courier";
}

#mailbody-header {
    font-weight: bold;
    padding-bottom: 10px;

    white-space: pre-wrap;
}

#mailbody-body {
    white-space: pre-wrap;
}
