:root {
    --msgtree-height: 50%;
    --msgtree-width: 50%;
}

html {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    font-family: menlo, Times;
    font-size: 13px;
}

.light {
    color: #000;
    background-color: #fff;
}

.dark {
    color: #aaa;
    background-color: #202020;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

#msgtree {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--msgtree-height);

    border-bottom: solid 1px gray;
    overflow: auto;
}

.dark #msgtree {
    border-bottom: solid 1px #333;
}

#msgtree.msgtree--v {
    position: fixed;
    top: 0;
    left: 0;

    width: var(--msgtree-width);
    height: 100%;

    border-right: solid 1px gray;
    overflow: auto;
}

.dark #msgtree.msgtree--v {
    border-right: solid 1px #666;
}

#mailbody {
    position: fixed;
    top: calc(var(--msgtree-height) + 1px);
    left: 0;

    padding: 0 10px 10px 10px;

    width: calc(100% - 2*10px);
    height: calc(100% - var(--msgtree-height) - 1px - 10px);

    overflow: auto;
}

#mailbody.mailbody--v {
    position: fixed;
    top: 0;
    left: var(--msgtree-width);

    padding: 10px;

    width: calc(100% - var(--msgtree-width) - 2*10px);
    height: calc(100% - 2*10px);

    overflow: auto;
}

#mailbody:focus-visible {
    outline: none;
}

.msgtree-item:first-child {
    margin-top: 10px;
}

.msgtree-item:last-child {
    margin-bottom: 10px;
}

.msgtree-item {
    cursor: default;
    padding: 0px 10px;
    width: 100%;
    height: 17px;
    line-height: 17px;
    word-break: break-all;
    white-space: pre;
}

.msgtree-item:hover {
    background-color: #f7f7f7;
}

.dark .msgtree-item:hover {
    background-color: #303030;
}

#mailbody-header-container {
    width: 100%;
}

#mailbody-header {
    padding-bottom: 10px;

    font-weight: bold;
    white-space: pre-wrap;
}

#mailbody-header-raw {
    display: none;              /* inited */

    padding-bottom: 10px;
    white-space: pre-wrap;
}

#mailbody-body--content {
    white-space: pre-wrap;
}

.hi--parent:hover,
.hi--parent {
    background-color: goldenrod;
}

.dark .msgtree-item.hi--parent:hover,
.dark .msgtree-item.hi--parent {
    background-color: #ba9026;
    color: white;
}

.hi--sibling:hover,
.hi--sibling {
    background-color: lavender;
}

.dark .msgtree-item.hi--sibling:hover,
.dark .msgtree-item.hi--sibling {
    background-color: #58587d;
    color: #d0d0d0;
}

.hi--cur:hover,
.hi--cur {
    background-color: lightgreen;
}

.dark .msgtree-item.hi--cur:hover,
.dark .msgtree-item.hi--cur {
    background-color: #4fc54f;
    color: white;
}
