:root {
    --mailhead-height: 50%;
    --mailhead-width: 50%;
}

html {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    font-family: menlo, Times;
    font-size: 13px;
}

.light {
    color: #000;
    background-color: #fff;
}

.dark {
    color: #aaa;
    background-color: #000;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

#mailhead {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--mailhead-height);

    border-bottom: solid 1px gray;
    overflow: auto;
}

.dark #mailhead {
    border-bottom: solid 1px #333;
}

#mailhead.mailhead--v {
    position: fixed;
    top: 0;
    left: 0;

    width: var(--mailhead-width);
    height: 100%;

    border-right: solid 1px gray;
    overflow: auto;
}

.dark #mailhead.mailhead--v {
    border-right: solid 1px #666;
}

#mailbody {
    position: fixed;
    top: calc(var(--mailhead-height) + 1px);
    left: 0;

    padding: 0 10px 10px 10px;

    width: calc(100% - 2*10px);
    height: calc(100% - var(--mailhead-height) - 1px - 10px);

    overflow: auto;
}

#mailbody.mailbody--v {
    position: fixed;
    top: 0;
    left: var(--mailhead-width);

    padding: 0 10px 10px 10px;

    width: calc(100% - var(--mailhead-width));
    height: 100%;

    overflow: auto;
}

#mailbody:focus-visible {
    outline: none;
}

.msgtree-item:first-child {
    margin-top: 10px;
}

.msgtree-item:last-child {
    margin-bottom: 10px;
}

.msgtree-item {
    cursor: default;

    padding: 0px 10px;

    width: 100%;
    /* height: 18px;               /\*total height: 18 + 2*1 + 1 = 21*\/ */
    /* line-height: 18px; */

    word-break: break-all;
    white-space: pre;

    /* border-bottom: solid 1px #e0e0e0; */
}

.msgtree-item:hover {
    background-color: #f7f7f7;
}

.dark .msgtree-item:hover {
    background-color: #222;
}

.msgtree-item--left {
    white-space: pre;
    // font-family: "courier";
}

#mailbody-header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 10px;

    width: 100%;

    border-bottom: solid 1px lightgray;
}

.dark #mailbody-header-container {
    border-bottom: solid 1px #505050;
}

#mailbody-header {
    width: 50%;
    overflow: auto;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    font-weight: bold;
    white-space: pre-wrap;
}

#mailbody-header-raw {
    width: 50%;
    overflow: auto;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

    white-space: pre-wrap;
}

#mailbody-body--content {
    white-space: pre-wrap;
}

#c {
    display: none;              /* inited */

    cursor: default;

    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;

    background-color: #f0f0f0;
    border: solid 2px gray;

    z-index: 99;
}

.dark #c {
    background-color: #111;
    border-color: darkgray;
}

.c-button {
    text-decoration: underline;
}

#m {
    display: none;              /* inited */

    cursor: default;

    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;

    background-color: #f0f0f0;
    border: solid 2px gray;

    white-space: pre;

    z-index: 98;
}

.dark #m {
    background-color: #111;
    border-color: darkgray;
}

.hi--parent:hover,
.hi--parent {
    background-color: goldenrod;
}

.dark .msgtree-item.hi--parent:hover,
.dark .msgtree-item.hi--parent {
    background-color: #ba9026;
    color: white;
}

.hi--sibling:hover,
.hi--sibling {
    background-color: lavender;
}

.dark .msgtree-item.hi--sibling:hover,
.dark .msgtree-item.hi--sibling {
    background-color: #58587d;
    color: #d0d0d0;
}

.hi--cur:hover,
.hi--cur {
    background-color: lightgreen;
}

.dark .msgtree-item.hi--cur:hover,
.dark .msgtree-item.hi--cur {
    background-color: #4fc54f;
    color: white;
}
